// Define SCSS variables
$blue-purple: #6F47EB;
$pure-black: #000000;
$pure-white: #FFFFFF;
$purple: #F68BFF;
$pink: #6F47EB;
$dark-grey: #5C5F62;
$medium-grey: #EDEDED;
$light-grey: #F9F9F9;
$light-blue: #EEE9FD;

// Apply styles using SCSS syntax
#root {
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}

body::-webkit-scrollbar-track {
  background: $light-grey;
}

body::-webkit-scrollbar-thumb {
  background: $blue-purple;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  color: $pure-black;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.Sidebar-icon {
  display: flex;
  width: 70%;
  margin-top: 10%;
  margin-left: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
